/* reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* utility */
.container {
	max-width: 1170px;
	margin: 0 auto;
}
.dpl_inline{
	display: inline;
}
.wrapper {
	flex-direction: column;
	justify-content: space-between;
}
.fixed {
	position: fixed;
}
.overflow {
	overflow-y: scroll;
	overflow-x: hidden;
}
.width_standard {
	width: calc(100% - 750px);
}
.side_menu_common {
	left: 150px;
	width: 450px;
}
/* flex */
.d-flex {
	display: flex;
}
.sp_evnl_aln_itm_cent{
	justify-content: space-evenly;
	align-items: center;
}
.cl_b1b1b1{
	color: #b1b1b1;
}
.cl_6b7376{
	color: #6b7376;
}

/* app */
body{
	overflow-y: hidden;
	overflow-x: hidden;
}
#cl_009688 {
	background-color: #009688;
	height: 120px;
}
#cl_dadbd4 {
	background-color: #dadbd4;
	height: 100vh;
}

/* aside_area */
.side_menu {
	top: 20px;
	height: calc(100% - 40px);
	background-color: rgba(234, 234, 234, 1);
}
.user_info {
	width: 60%;
	height: 100px;
}
.notify_section{
	height: 100px;
	background-color: #8edafc;
}
.bell_slash{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background-color: white;
}
#notify_text>h3{
	font-weight: 100;
}
#notify_text>a{
	color: #608c9e;
}
.search_chat{
	background-color: white;
	border: 1 solid transparent;
	border-radius: 2px;
	margin: 10px;
	height: 50px;
}
.search_icon{
	padding-left: 10px;
	padding-right: 10px;
}
#search_or_new{
	padding: 10px;
	border: transparent;
	border-radius: 5px;
	width: -webkit-fill-available;
}
.chat_menu{
	bottom: 20px;
	height: calc(100% - 310px);
}
.opened_chat{
	background-color: white;
}

/* chat_area */
.contacts_info_menu {
	top: 20px;
	right: 150px;
	height: 100px;
	background-color: rgba(234, 234, 234, 1);
}
.contact_info {
	width: 80%;
}
.text_area {
	bottom: 120px;
	right: 150px;
	background-image: url(../img/mine.jpg);
	height: calc(100% - 240px);
}

.user_chat_menu {
	bottom: 20px;
	right: 150px;
	height: 100px;
	background-color: rgba(243, 238, 234, 1);
}
.user_chat_box{
	background-color: white;
}
#userText{
	border-radius: 10px;
	padding: 20px;
}